header {
  font-size: 3rem;
  background-color: #ebebeb;
  width: 75%;
  text-align: center;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  padding: 1rem;
}
button {
  float: left;
}
#plateau table {
  margin: auto;
}

.highscores {
  margin-top: 2rem;
}
.highscores table td{
  border: 1px black solid;
}
#plateau {
  margin: auto;
  background-color: #ebebeb;
  width: 770px;
  height: 440px;
  box-sizing: content-box;
  border: 10px solid #ebebeb;
  margin-bottom: 10px;
}

#message {
  height: 57px;
  text-align: center;
  margin: auto;
}

.messageNotPaired {
  font-size: 1.7rem;
  width: 24%;
  background-color: #ff6868;
  color: #ffffff;
}

.notPaired {
  background-color: #ff00004a;
}


.messagePaired {
  font-size: 1.7rem;
  width: 24%;
  background-color: #8fcb49;
  color: #ffffff;
}

.Paired {
  background-color: #8fcb494a;
}
.messageWin {
  background-color: #8fcb49;
  color: #ffffff;
  padding: 10rem;
  font-size: 3.7rem;
  width: 65%;
}

.messageLose {
  background-color: #ff6868;
  color: #ffffff;
  padding: 10rem;
  font-size: 3.7rem;
  width: 65%;
}

.cache {
  background-color: #aaaaaa;
  height: 100px;
  width: 100px;
  border: 5px solid #ebebeb;
  box-sizing: content-box;
}


.cache:hover {
  background-color: #626262;
}

.image{
  background-image: url(../images/cards.png);
  height: 100px;
  width: 100px;
  border: 5px solid #ebebeb;
  box-sizing: content-box;
  transition: 
}
.image:hover {
  background-color: #0000000f;
}

.fruit1 {
  background-position: 0 0px;
}

.fruit2 {
  background-position: 0 -100px;
}

.fruit3 {
  background-position: 0 -200px;
}

.fruit4 {
  background-position: 0 -300px;
}

.fruit5 {
  background-position: 0 -400px;
}

.fruit6 {
  background-position: 0 -500px;
}

.fruit7 {
  background-position: 0 -600px;
}

.fruit8 {
  background-position: 0 -700px;
}

.fruit9 {
  background-position: 0 -800px;
}

.fruit10 {
  background-position: 0 900px;
}

.fruit11 {
  background-position: 0 800px;
}

.fruit12 {
  background-position: 0 700px;
}

.fruit13 {
  background-position: 0 600px;
}

.fruit14 {
  background-position: 0 500px;
}

.fruit15 {
  background-position: 0 400px;
}

.fruit16 {
  background-position: 0 300px;
}

.fruit17 {
  background-position: 0 200px;
}

.fruit18 {
  background-position: 0 100px;
}

#countdown {
  width: 790px;
  margin: 10px auto;
  height: 33px;
  background-color: #fcd4d4;
}

.countdown {
  height: 100%;
  text-align: center;
  padding: 0 10px;
  color: white;
  line-height: 33px;
  width: 0;
  background-color: red;
  box-sizing: border-box;
}
